body{
  background-color: rgb(12, 24, 46);
  }
  .grid-container1{
  margin: 1% 10% 2% 10%;
  display: grid;
  gap: 2vw ;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto ; padding: 0.5208333333333334vw;
  background-color:
  #000000;
  border: solid 0.5vw black;
  border-radius: 1vw;
  }
  .grid-container1 .grid1{
  
  border: solid 0.5vw black;
  grid-column: 1;
  grid-row: 1;
  }
  .grid-container1 .grid2{
  border: solid 0.5vw black;
  grid-column: 1;
  grid-row: 2;
  margin-top: -2.5vw;
  }
  .grid-container1 .grid3{
  border: solid 0.5vw black;
  grid-column: 2;
  grid-row: 1/3;
  }
  .grid-container1 .grid4{
  border: solid 0.5vw black;
   margin-top: -4vw; 
   grid-column: 1/2; 
   grid-row: 4;
  }

  .grid-container2{
  margin: 1% 10% 2% 10%;
  display: grid;
  gap: 2vw;
  grid-template-columns: auto auto;
   grid-template-rows: auto auto ; 
   padding: 0.5208333333333334vw;
  background-color:#000000;
  border: solid 0.5vw black;
  border-radius: 1vw;
  }
  .grid-container2 .grid5{
  border: solid 0.2vw black;
  }
  .grid-container2 .grid6{
  border: solid 0.5vw black;
   grid-column: 2;
  }
  .grid-container2 .grid7{
  border: solid 0.2vw black;
   margin-top: -26.65vw;
  }
